@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-offBlack: #23232c;
    --color-darkBlack: #1a1c22;
    --color-lightPurple: #37364a;
    --color-buttonPurple: #9183f8;
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
  }
